@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
.main__container--mainContent{
    width: 40%;
    height: 75%;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    
}
.main__container--mainContent p{
    font-size: 1.7rem;
    line-height: 4rem;
    color: hsl(hue, saturation, lightness);
    font-weight: 600;
    list-style: circle;

}
.main__container--mainContent button{
    font-size: 1.3rem;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: rgb(230, 19, 19);
    border-style: none ;
    border-radius: 3px;
    color: white;
    text-decoration: none
}

.main__container--mainContent button:hover{
    background-color: rgb(184, 12, 12);
    cursor: pointer;
}
.main__container--mainContent button:active {
    background-color: rgb(230, 19, 19);
}