.main__container{
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to right, #FF0099,#493240);
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:800px){
    .main__container{
        height: 100%;
    }
}