.main__container{
    width: 100%;
    height: 70%;
    background-color: rgb(202, 5, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

